@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variante normale */
@font-face {
  font-family: 'Veneer';
  src: url('/fonts/Veneer-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Variante gras */
@font-face {
  font-family: 'Veneer';
  src: url('/fonts/Veneer-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/* Variante décorative / spéciale */
@font-face {
  font-family: 'VeneerThree';
  src: url('/fonts/VeneerThree.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Classes utilitaires pour appliquer les fonts */
.font-veneer {
  font-family: 'Veneer', sans-serif;
}

.font-veneer-three {
  font-family: 'VeneerThree', sans-serif;
}
